html{
    font-family: 'Lato', sans-serif;
}

body{
    font-family: 'Lato', sans-serif;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

.home{
    @include default-page-layout();
    align-content: space-around;
    justify-items: stretch;

}

.logo-main{
    display: grid;
    justify-items: center;
}

.search-bar-home{
    align-content: center;
    justify-items: center;
    input{
        height: 110px;
        font-size: 43px;
    }
}

@media screen and (max-width: 600px) {
    .search-bar-home{
        align-content: center;
        justify-items: center;
        input{
            height: 55px;
            width: 66vw;
        }
        input::placeholder{
            font-size: 22px;
            position: relative;
            top: -8px;
        }
    }    
}