.results{
    @include default-page-layout();

    margin-top: 52px;
    grid-row-gap: 44px;
}

.search-bar-result{
    align-content: center;
    input{
        height: 40px;
        
        &::placeholder{
            font-size: 20px;
            position: relative;
            top: -8px
        }
    }
}

.results-posts{
    display: grid;
    grid-row-gap: 21px;

    .results-posts-wrapper{
        .results-posts-posts{
            display: grid;
            grid-row-gap: 20px;
            justify-content: stretch;
            list-style-type: none;
        }
    }
}

.results-post{
    display: grid;
    align-content: space-around;
    grid-row-gap: 22px;

    .results-post-topics > *{
        color: $azure;
        font-size: 14px;
        line-height: 17px;
        font-weight: normal;
    }

    .results-post-title a{
        color: $dimGrey;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
    }

    .results-post-title a:hover{
        color: $azure;
        text-decoration: underline;
        transition: all 0.5s ease-in-out;
    }

    .results-post-links{
        display: flex;
        color: $azure;
    }
}

.post-link{
    display: flex;
    min-height: 70px;

    .post-link-box{
        display: flex;
    }

    .post-link-link a{
        color: $lightSilver;
        font-size: 14px;
        line-height:17px;
        text-decoration: none;
    }

    .post-link-link a::before{
        font-family: "Font Awesome\ 5 Free";
        content:"\f0c1";
        display: inline-block;
        margin-right: 16px;
        vertical-align: middle;
        font-weight: 900;
    }

    .post-link-link a:hover{
        color: $azure;
        text-decoration: underline;
        transition: all 0.5s ease-in-out;
    }
}